$font-family: 'Arial', sans-serif;
$bg-color: #303030;
$danger-color: #ef6363;

$first-team-bg-color: #69F0AE;
$second-team-bg-color: #E1BEE7;

$first-team-color : #00C853;
$second-team-color : #8d329d;



