<div class="container">
  <h3>Правила игры</h3>
  <ol>
    <li>
      <b>Команды: </b>
      Разделите участников на команды. Рекомендуется, чтобы каждая команда состояла из нескольких человек.
      Введите имена игроков через запятую в соответствующее поле.
    </li>
    <li>
      <b>Заполнение слов: </b>
      В данной игре сами игроки вводят слова, которые будут отгадывать.
      По очереди каждый игрок ввоит определенное в настройках количество слов.
      Каждое слово проходит проверку на грамматику (если есть подключение к интернету),
      а также проверяется на отсутствие дубликатов.
    </li>
    <li>
      <b>Выбор описывающего: </b>
      Каждый раунд один из членов команды становится описывающим.
      Этот игрок будет описывать слова своей команде без использования однокоренных слов,
      не используя показывая на предметы вокруг.
    </li>
    <li>
      <b>Отгадывание:</b>
      Команда должна попытаться угадать, о каких словах идет речь, и называть их вслух.
      Описывающий может переходить к следующему слову, как только команда угадывает текущее или пропустить данное слово,
      но тогда оно не будет засчитано.
    </li>
    <li>
      <b>Засекание времени:</b>
      Играйте в несколько раундов. У каждой команды есть ограниченное время на угадывание слов.
      На экране будет виден отсчет таймера, после окончания времени издастся звук.
    </li>
    <li>
      <b> Подсчет баллов:</b>
      За каждое успешно угаданное слово команда получает один балл.
    </li>
    <li>
      <b>Смена ролей:</b>
      После каждого раунда смените роли внутри команды. Каждый участник по очереди будет описывающим.
      На экране высветиться имя следующего описывающего слова.
    </li>
    <li>
      <b>Победитель:</b>
      Та команда, которая наберет больше баллов, становится победителем. Конец игры по истечению все заганных слов.
    </li>
  </ol>
</div>
