<div class="container">
  <h3>Game rules</h3>
  <ol>
    <li>
      <b>Commands: </b>
      Divide participants into teams. It is recommended that each team consist of several people.
      Enter the names of the players separated by commas in the appropriate field.
    </li>
    <li>
      <b>Filling out words: </b>
      In this game, the players themselves enter the words that they will guess.
      In turn, each player will enter the number of words specified in the settings.
      Each word is checked for grammar (if there is an Internet connection),
      and is also checked for the absence of duplicates.
    </li>
    <li>
      <b>Select descriptive: </b>
      Each round, one of the team members becomes the describer.
      This player will describe words to his team without using cognates,
      without using pointing at objects around.
    </li>
    <li>
      <b>Guessing:</b>
      The team must try to guess what words are being talked about and say them out loud.
      The describer can move on to the next word as soon as the team guesses the current one or skip the given word,
      but then it will not be counted.
    </li>
    <li>
      <b>Timekeeping:</b>
      Play multiple rounds. Each team has a limited time to guess the words.
      The countdown of the timer will be visible on the screen, and a sound will be made when the time ends.
    </li>
    <li>
      <b> Scoring:</b>
      For each successfully guessed word, the team receives one point.
    </li>
    <li>
      <b>Role change:</b>
      After each round, change roles within the team. Each participant will take turns describing.
      The name of the next descriptive word will appear on the screen.
    </li>
    <li>
      <b>Winner:</b>
      The team that scores the most points becomes the winner. The end of the game after all the words have been erased.
    </li>
  </ol>
</div>
