@import 'src/app/shared/styles/variables';

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: $bg-color;
  color: $white;
}

mat-card-content, mat-card-header,
.mat-card-content, .mat-card-header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  width: 70%;
  padding: 10px;
}

.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: $violet;
}

mat-label {
  color: $first-team-color;
}

