@import 'src/app/shared/styles/variables';

html, body {
  height: 100%;
}

body {
  margin: 0; font-family:
  Roboto, "Helvetica Neue", sans-serif;
  background-color: $bg-color;
  color: #fff;
}

mat-card-content, mat-card-header,
.mat-card-content, .mat-card-header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  width: 70%;
  padding: 10px;
}

